* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    animation: yuy 4s linear infinite alternate;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@keyframes yuy {
    0% {
        background-color: #232330
    }

    20% {
        background-color: #232f30
    }

    40% {
        background-color: #293023
    }

    60% {
        background-color: #302c23
    }

    80% {
        background-color: #302323
    }

    100% {
        background-color: #30232d
    }
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
    width: 300px;
    height: auto;
    background-color: #58696e;
    padding: 20px;
    border: none;
    border-radius: 16px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5), inset 0 0 0 2px rgba(255, 255, 255, 0.5), inset 0 0 5px rgba(255, 255, 255, 0.5);
}

#display {
    width: 89%;
    height: 50px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 5px #000000, inset 0 0 0 1px black, inset 0 0 5px black;
    font-size: 20px;
    text-align: right;
    padding: 0 10px;
    background-color: #def4fa;
    font-weight: 600;
    overflow: hidden;
}

.buttons {
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;
    background-color: #271c36;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 3px black;
}

.b {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 6px;
    background-color: #d3dff2;
    box-shadow: 0 0 5px black;
    text-shadow: 0 0 2px #363636;
    font-size: 30px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.num {
    font-weight: 600;
}

.b:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px gray;
    transition: 0.1s ease, background-color 0.5s;
}

.b:active {
    background-color: #4c6ca1;
    transition: 0s;
}

.Eq {
    grid-row: span 2;
    height: 100%;
    background-color: #d1ffe9;
}

.Clear {
    background-color: #ffeed1;
}

.Op {
    background-color: #b8b0bf;
}